

@keyframes rotateUp {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(-180deg) translateY(-10px); 
  }
}

.arrow-up-animation {
  animation: rotateUp 0.5s ease-in-out forwards;
}
