@import "../../assets/style/shared.css";
/* @config "../../../tailwind.scroll-driven-demo-three.config.js"; */
@config "../../../tailwind.config.js";
@layer utilities {
    /* .animate-text-up {
        animation: text-up linear both;
    } */

    .card-animate-fade {
        animation: fade linear both;
    }

    .card-animate-captions {
        animation: captions linear both;
    }

    .card-animate-indicator {
        animation: indicator linear both;
    }

    .card-animate-progress {
        animation: progress linear both;
    }

    .card-animate-scroll-pos {
        animation: adjust-pos linear both;
    }

    @keyframes captions {
        100% {
            transform: translateY(calc((var(--slides) - 1)/var(--slides) * -100%));
        }
    }

    @keyframes fade-out {
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }

    @keyframes card-first {
        50% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(-22deg) translateX(-120%);
        }
    }

    @keyframes card-second {
        50% {
            transform: rotate(5deg)
        }
    }

    @keyframes card-third {
        50% {
            transform: rotate(-9deg)
        }
    }

    @keyframes card-fourth {
        50% {
            transform: rotate(9.5deg)
        }
    }

    @keyframes card-fifth {
        50% {
            transform: rotate(9.5deg)
        }
    }

    @keyframes card-sixth {
        50% {
            transform: rotate(9.5deg)
        }
    }
    
    @keyframes text-up {
        0% {
            opacity: 0.5;
            transform: translateY(105%);
        }
        50% {
            opacity: 1;
            transform: none;
        }
        100% {
            opacity: 0.5;
            transform: translateY(-105%);
        }
    }

    @keyframes fade {
        0% {
            opacity: 0
        }
        50% {
            opacity: 1
        }
    }

    @keyframes indicator {
        100% {
            transform: translateY(calc((var(--slides) - 1) * -100%));
        }
    }

    @keyframes card-animate-progress {
        from {
            transform: scaleY(calc(1/var(--slides)));
        }
    }

    @keyframes adjust-pos {
        to {
            --scroll-position: 1;
            --scroll-position-delayed: 1;
        }
    }
}