/*Home slider css start*/
.swiper-container {
    width: 100%;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: 50%;
    min-height: 20vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* .slick-list {
      width: 80%;
  } */
  
  .slick-track {
    display: flex !important;
    gap: 20px;
  }
  .slick-arrow.slick-prev.bg-black.rounded-full {
    transform: translate(-725px, 85px);
  }
  .slick-arrow.slick-next.bg-black.rounded-full {
    transform: translate(-1590px, 85px);
  }
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: blue !important;
  }
  .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: blue !important;
  }
  