@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*Scroll driven animation css start*/

@layer utilities {

  .animate-grow {
    animation: grow linear both;
  }

  .animate-page {
    animation: page linear both;
  }

  .animate-progress {
    animation: progress linear both;
  }

  .animate-text {
    animation: text linear both;
  }

  .animate-text-up {
    animation: text-up linear both;
  }

  @keyframes grow {
    /* 0% {
          clip-path: inset(0 20% round 15cqw);
          transform: translateX(calc(100cqw - 50%)) scale(0);
      }
      18% {
          clip-path: inset(0 20% round 15cqw);
          transform: translateX(calc(100cqw - 50%)) scale(0.4);
      } */
    0% {
      clip-path: inset(0 25% round 35cqmin);
      transform: translateX(70%) scale(0.15);
    }
    58.75% {
      clip-path: inset(0 round 0);
      transform: none;
    }
    100% {
      transform: scale(1.5) translateX(-16%);
      /* display: none; */
    }
  }

  @keyframes page {
    0%,
    100% {
      opacity: 0.5;
    }
    58% {
      opacity: 1;
    }
  }

  @keyframes progress {
    from {
      transform: scaleX(calc(1 / var(--slides)));
    }
  }

  @keyframes text {
    0%,
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: none;
    }
    75%,
    100% {
      opacity: 0;
    }
  }

  @keyframes text-up {
    0%,
    25% {
      opacity: 0.5;
      transform: translateY(105%);
    }
    50% {
      opacity: 1;
      transform: none;
    }
    75%,
    100% {
      opacity: 0.5;
      transform: translateY(-105%);
    }
  }

  /*Third demo*/
  .animate-text-up {
    animation: text-up linear both;
  }

  .animate-fade {
    animation: fade linear both;
  }

  .animate-captions {
    animation: captions linear both;
  }

  .animate-indicator {
    animation: indicator linear both;
  }

  .animate-progress {
    animation: progress linear both;
  }

  .animate-scroll-pos {
    animation: adjust-pos linear both;
  }

  @keyframes captions {
    100% {
      transform: translateY(calc((var(--slides) - 1) / var(--slides) * -100%));
    }
  }

  @keyframes fade-out {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes first {
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-22deg) translateX(-120%);
    }
  }

  @keyframes second {
    50% {
      transform: rotate(5deg);
    }
  }

  @keyframes third {
    50% {
      transform: rotate(-9deg);
    }
  }

  @keyframes fourth {
    50% {
      transform: rotate(9.5deg);
    }
  }

  @keyframes fifth {
    50% {
      transform: rotate(9.5deg);
    }
  }

  @keyframes sixth {
    50% {
      transform: rotate(9.5deg);
    }
  }

  @keyframes text-up {
    0% {
      opacity: 0.5;
      transform: translateY(105%);
    }
    50% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0.5;
      transform: translateY(-105%);
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes indicator {
    100% {
      transform: translateY(calc((var(--slides) - 1) * -100%));
    }
  }

  @keyframes progress {
    from {
      transform: scaleY(calc(1 / var(--slides)));
    }
  }

  @keyframes adjust-pos {
    to {
      --scroll-position: 1;
      --scroll-position-delayed: 1;
    }
  }
}
@property --scroll-position {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --scroll-position-delayed {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
/*Scroll driven animation css end*/

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .match-content {
  text-align: start;
}
.review {
   width: max-content; 
   display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 1; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 1;
}

.card-wrapper {
  width: 500px;
  text-decoration: unset;
  color: var(--base-color-black);
  padding: var(--base-size-x4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.avatar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.avatar-container {
  margin: 0px;
}
.star-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: cadetblue;
  border-radius: 28px;
  width: 60%;
  padding: 20px;
}
.card-container {
  background-color: rebeccapurple;
  border-radius: 50px;
  padding: 20px;
  height: 370px;
  width: 496px;
}
.slider-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  max-width: var(--max-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 160px;
  height: 600px;
}
.star-card {
  width: 496px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 var(--base-size-x3);
  transition: 0.3s all;
}
.card-review {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}
.card-wrapper-1 {
  transform: translateX(-496px);
}
.card-wrapper-2 {
  z-index: -1;
  transform: translateX(-992px);
}
.card-wrapper-3 {
  z-index: -1;
  transform: translateX(-1488px);
}
.card-wrapper-4 {
  z-index: -1;
  transform: translateX(-1984px);
}
.card-wrapper-5 {
  z-index: -1;
  transform: translateX(-2480px);
} */
/* .main-slider {
  width: 496px;
  width: 496px;
  --opinion-gap: var(--base-size-x3);
  --opinion-offset: 2;
} */
